**Graduation Project**: PM Footprint calculator based on citizen behavior related to fine dust emissions.

Student: **Alessandro Monolo** | 1790210

GP supervisor: Angelique Ruiter

Master Data-Driven Design, Hogeschool Utrecht.

Academical Year: 2021/2022, Block C.

## 2 - Dataframe Final Survey Preprocessing

In [3]:
# Import the Python Libraries I need to clean, pre-process and visualize the data contained into the survey PM dataframe:

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.style as style
from matplotlib import cm
%matplotlib inline

In [5]:
# Import cleaned dataframe with the name: df_survey_final

In [6]:
df_survey_final = pd.read_csv("df_survey_final.csv", index_col=False)

In [7]:
# Here I obtain the total amount of cigarette smoked every month by daily smoker users.
# So, I assign values to each possible conditions in my dataframe as here below:

In [8]:
conditions0 = [
    (df_survey_final['Smoker_Type'] == "No smoker"),
    (df_survey_final['Smoker_Type'] == "3 to 5 month"),
    (df_survey_final['Smoker_Type'] == "3 to 5 week"),
    (df_survey_final['Smoker_Type'] == "Daily Smoker") & (df_survey_final['N_Cigarette_Daily_Smoker'] == "1 to 5"),
    (df_survey_final['Smoker_Type'] == "Daily Smoker") & (df_survey_final['N_Cigarette_Daily_Smoker'] == "6 to 10"),
    (df_survey_final['Smoker_Type'] == "Daily Smoker") & (df_survey_final['N_Cigarette_Daily_Smoker'] == "11 to 15"),
    (df_survey_final['Smoker_Type'] == "Daily Smoker") & (df_survey_final['N_Cigarette_Daily_Smoker'] == "16 to 20")]

In [9]:
values0 = [0, 5, 20, 140, 280, 420, 560]

In [10]:
# Here I assign each monthly values to the inherent conditions to a new dataframe column - Smoked cigarette:

In [11]:
df_survey_final["Smoked_cigarette"] = np.select(conditions0, values0)

In [12]:
# Drop the obsolete dataframe columns - Smoker_Type & N_Cigarette_Daily_Smoker:

In [13]:
df_survey_final = df_survey_final.drop(['Smoker_Type', 'N_Cigarette_Daily_Smoker'], axis=1)

In [14]:
# Here I obtain the total amount of Online purchases bought every month.
# So, I assign values to each possible conditions in my dataframe as here below:

In [15]:
conditions1 = [(df_survey_final['N_On-Line_Purchase_x_Month'] == "1 to 5"),
               (df_survey_final['N_On-Line_Purchase_x_Month'] == "6 to 10"),
               (df_survey_final['N_On-Line_Purchase_x_Month'] == "11 to 15"),
               (df_survey_final['N_On-Line_Purchase_x_Month'] == "16 to 20")]

In [16]:
values1 = [5, 10, 15, 20]

In [17]:
# Here I assign each monthly values to the inherent conditions to a new dataframe column - Online Purchase:

In [18]:
df_survey_final["Online_purchase"] = np.select(conditions1, values1)

In [19]:
# Drop the obsolete dataframe columns - N_On-Line_Purchase_x_Month:

In [20]:
df_survey_final = df_survey_final.drop(['N_On-Line_Purchase_x_Month'], axis=1)

In [21]:
# Here I obtain the total amount of Offline purchases bought every month.
# So, I assign values to each possible conditions in my dataframe as here below:

In [22]:
conditions2 = [(df_survey_final['N_Off-Line_Purchase_x_Month'] == "1 to 5"),
               (df_survey_final['N_Off-Line_Purchase_x_Month'] == "6 to 10"),
               (df_survey_final['N_Off-Line_Purchase_x_Month'] == "11 to 15"),
               (df_survey_final['N_Off-Line_Purchase_x_Month'] == "16 to 20"),
               (df_survey_final['N_Off-Line_Purchase_x_Month'] == "â‰¥21")]

In [23]:
values2 = [5, 10, 15, 20, 25]

In [24]:
# Here I assign each monthly values to the inherent conditions to a new dataframe column - Offline Purchase:

In [25]:
df_survey_final["Offline_purchase"] = np.select(conditions2, values2)

In [26]:
# Drop the obsolete dataframe columns - N_Off-Line_Purchase_x_Month:

In [27]:
df_survey_final = df_survey_final.drop(['N_Off-Line_Purchase_x_Month'], axis=1)

In [28]:
# Here I obtain the total amount of meat based meals per month.
# So, I assign values to each possible conditions in my dataframe as here below:

In [29]:
conditions3 = [(df_survey_final['Days_meatmeal_x_Week'] == "0"),
               (df_survey_final['Days_meatmeal_x_Week'] == "1 to 2"),
               (df_survey_final['Days_meatmeal_x_Week'] == "3 to 4"),
               (df_survey_final['Days_meatmeal_x_Week'] == "7")]

In [30]:
values3 = [0, 8, 16, 28]

In [31]:
# Here I assign each monthly values to the inherent conditions to a new dataframe column - Meat based meals:

In [32]:
df_survey_final["Meat_based_meals"] = np.select(conditions3, values3)

In [33]:
# Drop the obsolete dataframe columns - Days_meatmeal_x_Week:

In [34]:
df_survey_final = df_survey_final.drop(['Days_meatmeal_x_Week'], axis=1)

In [35]:
# Create new dataframe column based on total number of flights per year splitted in
# 12 obtaining the number of flights per each month:

In [36]:
df_survey_final['Flights'] = df_survey_final['N_Flights_x_Year'].div(12).round(2)

In [37]:
# Drop the obsolete dataframe yearly column:

In [38]:
df_survey_final = df_survey_final.drop(['N_Flights_x_Year'], axis=1)

In [39]:
# Here I obtain the house temperature per each house.
# So, I assign values to each possible conditions in my dataframe as here below:

In [40]:
conditions4 = [(df_survey_final['House_Temp'] == "18-19"),
               (df_survey_final['House_Temp'] == "20-21"),
               (df_survey_final['House_Temp'] == "22-23"),
               (df_survey_final['House_Temp'] == "24-25"),
               (df_survey_final['House_Temp'] == "â‰¥26")]

In [41]:
values4 = [19, 21, 23, 25, 26]

In [42]:
# Here I assign each temperature values to the inherent conditions to a new dataframe column - House_Temperature:

In [43]:
df_survey_final["House_temperature"] = np.select(conditions4, values4)

In [44]:
# Drop the obsolete dataframe columns - House_Temp:

In [45]:
df_survey_final = df_survey_final.drop(['House_Temp'], axis=1)

In [46]:
# Fill all NaN values with 0 within the N_x_Year_Fireplace dataframe column:

In [47]:
df_survey_final['N_x_Year_Fireplace'] = df_survey_final['N_x_Year_Fireplace'].fillna(0)

In [48]:
# Here I obtain the yearly times when voters who have a fireplace at home use it.
# So, I assign values to each possible conditions in my dataframe as here below:

In [49]:
conditions5 = [(df_survey_final['N_x_Year_Fireplace'] == 0),
               (df_survey_final['N_x_Year_Fireplace'] == "1 to 20"),
               (df_survey_final['N_x_Year_Fireplace'] == "21 to 40"),
               (df_survey_final['N_x_Year_Fireplace'] == "41 to 60"),
               (df_survey_final['N_x_Year_Fireplace'] == "â‰¥61")]

In [50]:
values5 = [0, 20, 40, 60, 80]

In [51]:
# Here I assign the yearly values to the inherent conditions to a new dataframe column - Year_fireplace_times:

In [52]:
df_survey_final["Year_fireplace_times"] = np.select(conditions5, values5)

In [53]:
# Here in order to get the monthly value I divide the yearly amount per 12,
# creating a new dataframe column - Fireplace_use:

In [54]:
df_survey_final['Fireplace_use'] = df_survey_final['Year_fireplace_times'].div(12).round(2)

In [55]:
# Drop the obsolete dataframe columns - Year_fireplace_times & N_x_Year_Fireplace:

In [56]:
df_survey_final = df_survey_final.drop(['Year_fireplace_times', 'N_x_Year_Fireplace'], axis=1)

In [57]:
# Here I assign an hypothetical impact value based on the type of the adopted heating system at home.
# Starting from the less polluted (Solar heating), to the higher one (Fireplace/Wood stove).
# So, I assign values to each possible conditions in my dataframe as here below:

In [58]:
conditions6 = [(df_survey_final['Heating_System'] == "Solar heating"),
               (df_survey_final['Heating_System'] == "Air conditioner"),
               (df_survey_final['Heating_System'] == "Traditional floor heating"),
               (df_survey_final['Heating_System'] == "Traditional radiator heating"),
               (df_survey_final['Heating_System'] == "Pellet stove"),
               (df_survey_final['Heating_System'] == "Fireplace/Wood stove")]

In [59]:
values6 = [0, 1, 2, 3, 4, 5]

In [60]:
# Here I assign the values to each row based on the previous conditions to a new dataframe column - Heating_system_type:

In [61]:
df_survey_final["Heating_system_type"] = np.select(conditions6, values6)

In [62]:
# Drop the obsolete dataframe columns - Heating_System:

In [63]:
df_survey_final = df_survey_final.drop(['Heating_System'], axis=1)

In [64]:
# Here I assign an hypothetical impact value based on the type of the adopted Transportation means.
# Starting from the less polluted (Bicycle), to the higher one (Motor car).
# So, I assign values to each possible conditions in my dataframe as here below:

In [65]:
conditions7 = [(df_survey_final['Transport_Means'] == "Bicycle"),
               (df_survey_final['Transport_Means'] == "Public transport"),
               (df_survey_final['Transport_Means'] == "Electric car"),
               (df_survey_final['Transport_Means'] == "Hybrid car"),
               (df_survey_final['Transport_Means'] == "Motorcycle"),
               (df_survey_final['Transport_Means'] == "Motor car")]

In [66]:
values7 = [0, 1, 2, 3, 4, 5]

In [67]:
# Here I assign the values to each row based on the previous conditions to a new dataframe column - Heating_system_type:

In [68]:
df_survey_final["Transport_type"] = np.select(conditions7, values7)

In [69]:
# Drop the obsolete dataframe columns - Transport_Means:

In [70]:
df_survey_final = df_survey_final.drop(['Transport_Means'], axis=1)

In [71]:
# Here I substite all NaN values with 0 within the dataframe column N_x_Week_Use_Motor_Transport:

In [72]:
df_survey_final['N_x_Week_Use_Motor_Transport'] = df_survey_final['N_x_Week_Use_Motor_Transport'].fillna(0)

In [73]:
# Here I obtain the monthly times when voters used their transport means.
# So, I assign values to each possible conditions in my dataframe as here below:

In [74]:
conditions8 = [(df_survey_final['N_x_Week_Use_Motor_Transport'] == 0),
               (df_survey_final['N_x_Week_Use_Motor_Transport'] == "1 to 2"),
               (df_survey_final['N_x_Week_Use_Motor_Transport'] == "3 to 4"),
               (df_survey_final['N_x_Week_Use_Motor_Transport'] == "5 to 7"),
               (df_survey_final['N_x_Week_Use_Motor_Transport'] == "8 to 14"),
               (df_survey_final['N_x_Week_Use_Motor_Transport'] == "â‰¥15")]

In [75]:
values8 = [0, 8, 16, 28, 56, 65]

In [76]:
# Here I assign the values to each row based on the previous conditions to a new dataframe column - Transport_use:

In [77]:
df_survey_final["Transport_use"] = np.select(conditions8, values8)

In [78]:
# Drop the obsolete dataframe columns - N_x_Week_Use_Motor_Transport:

In [79]:
df_survey_final = df_survey_final.drop(['N_x_Week_Use_Motor_Transport'], axis=1)

In [80]:
# Here I substite all NaN values with 0 within the dataframe column KM_x_Week_Motor_Transport:

In [81]:
df_survey_final['KM_x_Week_Motor_Transport'] = df_survey_final['KM_x_Week_Motor_Transport'].fillna(0)

In [82]:
# Here I obtain the monthly km driven for each voters.
# So, I assign values to each possible conditions in my dataframe as here below:

In [83]:
conditions9 = [(df_survey_final['KM_x_Week_Motor_Transport'] == 0),
               (df_survey_final['KM_x_Week_Motor_Transport'] == "1 to 50"),
               (df_survey_final['KM_x_Week_Motor_Transport'] == "51 to 100"),
               (df_survey_final['KM_x_Week_Motor_Transport'] == "101 to 200"),
               (df_survey_final['KM_x_Week_Motor_Transport'] == "201 to 500"),
               (df_survey_final['KM_x_Week_Motor_Transport'] == "â‰¥500")]

In [84]:
values9 = [0, 200, 400, 800, 2000, 2500]

In [85]:
# Here I assign the values to each row based on the previous conditions to a new dataframe column - Transport_km:

In [86]:
df_survey_final["Transport_km"] = np.select(conditions9, values9)

In [87]:
# Drop the obsolete dataframe columns - KM_x_Week_Motor_Transport:

In [88]:
df_survey_final = df_survey_final.drop(['KM_x_Week_Motor_Transport'], axis=1)

In [89]:
# Here i re order the dataframe columns with logic order, placing next to each other inherent columns.
# First I create a list with all the dataframe colum names
# and then I assign the list to the dataframe using reindex function:

In [90]:
column_names = ["User",
                "User_Gender",
                "User_Age",
                "Smoked_cigarette",
                "Online_purchase",
                "Offline_purchase",
                "Meat_based_meals",
                "Flights",
                "M2_House",
                "Heating_system_type",
                "House_temperature",
                "Fireplace", 
                "Fireplace_use",
                "Transport_type",
                "Transport_use",
                "Transport_km"]

In [91]:
df_survey_final = df_survey_final.reindex(columns=column_names)

In [92]:
# This final dataframe resume the monthly behavior for each voters about his/her:
# 1- Gender and Age target;
# 2- Number of cigarette smoked;
# 3- Consumption expenditure behavior;
# 4- Meat cunsumption behavior;
# 5- Number of flights;
# 6- Type of heating system and usege of it related to temperature and M2 of his/her house;
# 7- Presence of not of a fireplce and its related usage;
# 8- Transportation type and its related usage, about number of times and km driven.

In [93]:
df_survey_final.head(10)

,User,User_Gender,User_Age,Smoked_cigarette,Online_purchase,Offline_purchase,Meat_based_meals,Flights,M2_House,Heating_system_type,House_temperature,Fireplace,Fireplace_use,Transport_type,Transport_use,Transport_km
0,1,Woman,18 - 24,140,5,10,16,0.50,40,3,19,0,0.00,1,0,0
1,2,Man,25 - 30,140,5,5,28,0.67,120,2,21,0,0.00,5,16,400
2,3,Woman,18 - 24,140,5,5,16,0.33,35,3,23,0,0.00,1,0,0
3,4,Man,25 - 30,0,15,5,28,0.17,105,3,19,0,0.00,5,56,800
4,5,Man,18 - 24,280,5,5,28,0.17,123,3,21,0,0.00,5,28,400
5,6,Man,18 - 24,0,5,5,8,0.33,160,3,21,0,0.00,1,0,0
6,7,Woman,25 - 30,5,10,5,16,0.83,30,3,23,0,0.00,1,16,200
7,8,Man,18 - 24,0,5,5,28,0.17,150,3,19,1,1.67,5,56,200
8,9,Man,18 - 24,5,5,10,16,0.33,144,3,19,0,0.00,5,56,400
9,10,Woman,51 - 60,0,10,5,8,0.00,100,3,19,0,0.00,0,8,200

In [94]:
# Save final csv file with the name of df_survey_z_score:

In [95]:
df_survey_final.to_csv('df_survey_z_score.csv', index=False)

In [96]:
# Import last final dataframe and quick overview:

In [97]:
df_survey_z_score = pd.read_csv("df_survey_z_score.csv")

In [101]:
#print(df_survey_z_score.head(10))
#print(df_survey_z_score.shape)
#print(df_survey_z_score.info())